body{
    margin: auto;
}

i {
    cursor: pointer !important;
}

.contacto{
    margin: auto;
    width: 768px;
    border: solid 3px black;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 10px 10px 5px #888888;
}

.contacto button{
    width: 80px;  
}

.contacto img{
    float: right;
    clear: right;
    height: 100px;
}

#buscar{
    text-align: center;
    width: 225px;
}

#busqueda{
    text-align: center;
    color: red;
}

h2{
    background:  #E2ECEE;
    font-size: 18px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;    
}

.tabla-justificada {
    table-layout: fixed;
    text-align: center;
}

.cookie {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
  
.cookie img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closecookie {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closecookie:hover {
    color: #000;
}

.stock-min-true {
    width: 10px;
    height: 10px;
    background: red;
    display: inline-block;
    border-radius: 50%;
}

.pd-0 {
    padding: 0 !important;  
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}