<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/acordeon.js"></script>
<script src="js/efectoCerrarAlert.js"></script>
<script src="js/moment.min.js"></script>
<script src="../js/funcionSolonumero.js"></script>
<script src="../js/bootstrap-select.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/sweetalert2.min.js"></script>
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- page script -->

<script>
        function renderTable() {
            $('#listado').DataTable({
                "lengthChange": false,
            });
        }
        
        function renderTableDate(field = 0, id){
            $('#'+id).DataTable({
                "lengthChange": false,
                "order": [[ field, "DESC" ]]
            })
        }
        renderTable()
        </script>
        